<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="/static/1/css/bootstrap.min.css">
    <script src="/static/1/js/jquery-3.7.1.min.js"></script>
    <script src="/static/1/js/bootstrap.min.js"></script>
</head>
<body>
<div style="background: #4e73df;">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-4 p-4 bg-white shadow box-area">
            <div class="col-md-5 rounded-3 d-flex justify-content-center align-items-center flex-column left-box" style="background: #4e73df;">
                <div class="featured-image mb-3">
                    <img src="/static/1/images/hinh2.jpg" class="img-fluid" style="width: 300px;">
                </div>
            </div>
            <div class="col-md-7 right-box">
                <form action="/confirmPassword" method="POST" id="confirmPassword" >
                    <div class="row align-items-center">
                        <div class="header-text mb-4 text-center">
                            <h2>QUÊN MẬT KHẨU</h2>
                        </div>
                        <div class="header-text mb-2 ">
                            <h5>Mã xác nhận đã được gửi qua email. Nhập mã xác nhận</h5>
                        </div>



                        <div class="form-group mb-3">
                            <input type="text" class="form-control form-control-lg bg-light fs-6"  placeholder="Nhập mã xác nhận" name="Code">
                        </div>


                        <div class="form-group mb-3">
                            <button type="submit" id="submitBtn" class="btn btn-lg btn-primary w-100 fs-6">Xác nhận</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>