<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content   ="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Đặt Chỗ</title>

    <!-- Custom fonts for this template-->
    <link href="/static/1/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/1/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/static/1/css/style4.css" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="datcho.html">
                <div class="sidebar-brand-text mx-3">Dashboard</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{datcho}">
                    <span>Trang đặt chỗ</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{user}">
                    <span>User</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{qlthanhvien}">
                    <span>Admin</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Nhập tên (mã) thiết bị..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>x
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Nhập tên (mã) thiết bị..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="http://localhost:8084/login" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Đăng xuất</span>
                                <img class="img-profile rounded-circle"
                                     src="/static/1/images/hinh2.jpg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Content Row -->
                    <!-- Area Chart -->
                    <!-- Card Header - Dropdown -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">ĐẶT CHỖ MƯỢN THIẾT BỊ</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="centered-cell">Chọn</th>
                                            <th class="centered-cell">STT</th>
                                            <th class="centered-cell">Mã Thiết Bị</th>
                                            <th class="centered-cell">Tên Thiết Bị</th>
<!--                                            <th class="centered-cell">Tình Trạng</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr th:each="device : ${DeviceList}">
                                            <td class="centered-cell"><input type="checkbox"></td>
                                            <!-- Hiển thị số thứ tự tăng dần -->
                                            <td class="centered-cell stt"></td>
s                                            <td class="centered-cell1" th:text="${device.maTB}"></td>
                                            <td class="centered-cell1" th:text="${device.tenTB}"></td>

                                        </tr>
                                        <script>
                                            document.addEventListener("DOMContentLoaded", function() {
                                                var rows = document.querySelectorAll("#dataTable tbody tr");
                                                rows.forEach(function(row, index) {
                                                    var sttCell = row.querySelector(".stt");
                                                    sttCell.textContent = index + 1;
                                                });
                                            });
                                        </script>

                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination">
                                <button id="prevPage"><i class="fas fa-chevron-left"></i></button>
                                <div id="pageNumbers" class="page-numbers"></div>
                                <button id="nextPage"><i class="fas fa-chevron-right"></i></button>
                                <button id="muonButton" class="btn btn-success" disabled>Mượn</button>
                            </div>
                            <div id="muonForm" style="display: none;">
                                <button id="closeFormButton" class="btn-close">X</button>
                                <form id="muonFormContent" th:action="@{/dat}" method="post">
                                    <div class="form-group">
                                        <label for="maThanhVien">Mã Thành Viên:</label>
                                        <input type="text"  class="form-control" id="maThanhVien" th:value="${thanhVien.maTV}"  readonly >
                                    </div>
                                    <div class="form-group">
                                        <label for="hoTen">Họ và Tên:</label>
                                        <input type="text" class="form-control" id="hoTen" th:value="${thanhVien.hoTen}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="maThietBiMuon">Mã Thiết Bị Mượn:</label>
                                        <input type="text" name= "maTB" class="form-control" id="maThietBiMuon" value="" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="ngayMuon">Ngày Mượn:</label>
                                        <input type="date" name= "tgMuon" class="form-control" id="ngayMuon">
                                    </div>
                                    <div class="form-group">
                                        <label for="ngayTra">Ngày Trả:</label>
                                        <input type="date" name= "tgTra" class="form-control" id="ngayTra">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Gửi Đăng Ký</button>
                                </form>
                                <script>
                                    $('#muonButton').click(function() {
                                        // Find all checkboxes that are checked
                                        var checkedCheckboxes = $('input[type="checkbox"]:checked');

                                        // Check if any checkboxes are checked
                                        if (checkedCheckboxes.length > 0) {
                                            var selectedRow = checkedCheckboxes.first().closest('tr');

                                            // Extract data from the selected row
                                            var maTB = selectedRow.find('td:nth-child(0)').text().trim();
                                            $('#maThietBiMuon').val(maTB);
                                            $('#muonButton').show();
                                        }else{
                                            // If no checkboxes are checked, display an alert
                                            alert("Vui lòng chọn ít nhất một thiết bị để sửa thông tin.");
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>                                                                                                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/1/vendor/jquery/jquery.min.js"></script>
    <script src="/static/1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/1/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/1/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/1/vendor/chart.js/Chart.min.js"></script>
    <script src="/static/1/js/scripts4.js"></script>


    <!-- Page level custom scripts -->
    <script src="/static/1/js/demo/chart-area-demo.js"></script>
    <script src="/static/1/js/demo/chart-pie-demo.js"></script>

</body>

</html>